/* Estilos para toda la web */
* {
    box-sizing: border-box;
}

body {
    background-image: url(source.gif);
    background-color: #080a30;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50px 0;
  }

.container {
    margin:auto;
    margin-top: 15px;
    max-width: 90%;
}

/* Estilos para el formulario */

.formulario {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    background: #30082a;

}

.titulo{
    font-weight: bold;
    font-size: 30px;
    text-align:center;
    margin: 0px;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
p{
    color:rgb(255, 255, 255);
}

.form_input{
    margin-bottom: 20px;
}

.form_input label {
    display: block;
    margin-bottom: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.form_input input {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    height: 35px;
}

.submit_button input {
    
    background: #396a11;
    color:white;
    font-weight: bold;
    border-radius: 5px;
    padding: 13px 172px;
}

.oculto {
    display: none !important;
  }

/* Alineación a la derecha del formulario */
@media only screen and (min-width: 768px) {
    .formulario {
      margin-left: auto;
      margin-right: 50px;
    }
  }

  .consulta_button input {
    
    background: #1a3008;
    color:white;
    font-weight: bold;
    border-radius: 5px;
    padding: 13px 177px;
}

